body {
    background-image: url("./images/notebook_natural_laptop_macbook.jpg");
    background-size: cover;
}

.jumbotron {
    opacity: 0.4;
}

.card {
    opacity: .6;
}

* {
    font-family: 'Frank Ruhl Libre', serif;
}